html {
  
}
body {
   background-image: url('IMG_2220.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;  
}
div h1 {
  margin-left: 20%;
  margin-right: 20%;
  font-family: Georgia, serif;
  border-style: solid;
  border-radius: 18px;
  border-color: black;
  background-color: red;
  color: white;
}
div p1 {
  text-wrap: balance;
  white-space: normal;
  width: 320px;
  height: 50px;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: DejaVu Sans Mono, monospace;
  border-style: solid;
  border-color: black;
  border-radius: 18px;
  background-color: blue;
  color: white;
}
