html {
  
}
body {
   background-image: url('sitebg.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;  
}
div h1 {
  font-family: cursive;
  border-style: solid;
  border-radius: 18px;
  background-color: red;
  color: white;
}
div p1 {
  font-family: cursive;
  border-style: solid;
  border-radius: 18px;
  background-color: blue;
  color: white;
}
